<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>        
            <p class="address">
              317 Spring Street<br>
              Nevada City Ca</p>
            </p>
          </li>  
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
          <li>
            <a href="tel:1-530-265-0200">(530) 265-0200</a><b/>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
