<form id="signup" action="//coffeebroaster.us10.list-manage.com/subscribe/post?u=2673e17d8e8934d9a3b9a86af&amp;id=00f8b7e2c4" method="post" id="mc-embedded-subscribe-form" method="get">
    <label for="firstname">Name</label>
    <div class="row">
      <div class="col-6 col-6-sm no-gutter-left">
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First" required>
      </div>
      <div class="col-6 col-6-sm">
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last" required>
      </div>
    </div>

    <label for="email" id="address-label">Email Address</label>
    <div class="row">
      <div class="col-9 col-9-sm no-gutter-left">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Name@email.com" required>
      </div>
      <div class="col-3 col-3-sm">
        <input type="submit" value="Subscribe" name="subscribe" id="sign-up" class="btn">
      </div>
    </div>
</form> 
